.app{
    height: 100%;
    font-family: cursive;
}

input {
    width: 80%;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    font-size: medium;
}

header {
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
    background-color: blueviolet;
    height: 150px;
    text-align: center;
}

#message_form {
    position: fixed;
    bottom: 0px;
    background-color: black;
    color: white;
    font-weight: bolder ;
    width: 100%;
    padding: 5px 10px;
    text-align: center;
}

.message-history {
    padding: 5px;
    color: black;
    margin: 15px 15px 100px 15px ;
    width: 95%;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align:justify;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word; 
    max-height: 450px;   
    /* border:solid black 2px; */
}

button {
    border-style: none;
    width: 80px;
    height: 30px;
    background-color: white;
    font-weight: bolder;
}

.msg-item {
    border: dashed 1px grey;
    margin-top:2px 0 2px 0;
}

#footer {
    position: fixed;
    bottom: 0px;
    background-color: black;
    color: white;
    font-weight: bolder ;
    width: 100%;
    padding: 5px 10px;
    text-align: center;
    font-family: cursive;
}

.welcome-page-main {
    text-align: justify;
    padding: 30px;
    border: 2px dashed gray;
    border-radius: 10px;
    margin: 30px;
}

.register{
    height: 90%;
    font-family: cursive;
    padding-left: 30px;
}

.register-button {
    padding-bottom: 30px;
}

.footer {
    position: fixed;
    bottom: 0px;
    background-color: black;
    color: white;
    font-weight: bolder ;
    width: 100%;
    padding: 5px 10px;
    text-align: center;
    font-family: cursive;
}

.form-control {
    width: 300px;
}

.content-header {
    padding:30px;
}


.register, .login, .dashboard, .profile{
    height: 90%;
    font-family: cursive;
    padding-left: 30px;
    margin: 20px;
}

.register-button {
    padding-bottom: 30px;
}

.footer {
    position: fixed;
    bottom: 0px;
    background-color: black;
    color: white;
    font-weight: bolder ;
    width: 100%;
    padding: 5px 10px;
    text-align: center;
    font-family: cursive;
}

.form-control {
    width: 300px;
}

.nav {
    list-style-type: none;
    text-align: center; 
    padding: 0;
    margin: 0;
  }
  
  .nav li a{
    display: inline-block;
    font-size: 18px;
    padding: 20px;
    color: white;
    font-weight: bolder;
  }

  .change-password-button {
      
    padding-bottom: 30px;
    width: 300px;
  }
